@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #1F1A38;
    font-family: 'Poppins', sans-serif;
}
.box
{
    position: relative;
    width:289px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1F1A38;
}

.box:before
{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index:-1;
    animation: loop 5s smooth infinite;
}
.box:after
{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -1;
    filter: blur(15px);
    animation: loop 5s linear infinite;
}

.box:before,
.box:after
{
    background: linear-gradient(230deg,#2E5EAA,#FFEEDD,#EF3E36);
}

@keyframes loop
{
    0%{
        background: linear-gradient(0deg,#2E5EAA,#FFEEDD,#EF3E36);
    }
    35%
    {
        background: linear-gradient(90deg,#2E5EAA,#FFEEDD,#EF3E36);
    }

    50%{
        background: linear-gradient(180deg,#2E5EAA,#FFEEDD,#EF3E36);
    }
    75%{
        background: linear-gradient(270deg,#2E5EAA,#FFEEDD,#EF3E36);
    }
    100%{
        background: linear-gradient(360deg,#2E5EAA,#FFEEDD,#EF3E36);
    }
}

.content
{
    padding:20px;
    box-sizing: border-box;
    color: #fff;
    font-size: 15px;
}